<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="~/Content/images/fff.jpg" />
                    </span>        
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Sabid Hossain</strong>
                            </span> <span class="text-muted text-xs block">Software Engineer <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("Profile", "AppViews")">Profile</a></li>
                        <li><a href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>
                        <li><a href="@Url.Action("About", "Home")">Abbout</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Login", "Pages")">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    SA+
                </div>
            </li>
            <li class="active">
                <a href="~/Home/Index">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li >
                <a href="@Url.Action("Dashboard_1", "Dashboards")"><i class="fa  fa-dollar"></i> <span class="nav-label" data-i18n="nav.dashboard">PURCHASE</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Dashboards", cssClass: "in")">
                    <li class="@Html.IsSelected(controller: "PurchaseEntry", action: "Index")"><a href="@Url.Action("Index", "PurchaseEntry")">New Purchase</a></li>
                    <li class="@Html.IsSelected(controller: "Purchase1", action: "Index")"><a href="@Url.Action("Index", "Purchase1")">Purchase History</a></li>
                    <li class="@Html.IsSelected(controller: "Supplier", action: "Index")"><a href="@Url.Action("Index", "Supplier")">Suppliers</a></li>
                </ul>
            </li>    
            <li class="@Html.IsSelected(controller: "Item")">
                <a ><i class="fa fa-list-alt"></i> <span class="nav-label" data-i18n="nav.dashboard">INVENTORY</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse, cssClass: "in")">
                    <li class="@Html.IsSelected(controller: "Item", action: "Index")"><a href="@Url.Action("index", "Item")">Product</a></li>
                    <li class="@Html.IsSelected(controller: "Item", action: "Index")"><a href="@Url.Action("index", "Stock")">Stock</a></li>
                    <li class="@Html.IsSelected(controller: "Category", action: "Index")"><a href="@Url.Action("index", "Category")">Category</a></li>
                    <li class="@Html.IsSelected(controller: "Category", action: "Index")"><a href="@Url.Action("index", "Manufacturer")">Manufacturer/Brand</a></li>
                    
                </ul>
            </li>  
            <li class="@Html.IsSelected(controller: "SALES")">
                <a href="@Url.Action("Dashboard_1", "Dashboards")"><i class="fa fa-money"></i> <span class="nav-label" data-i18n="nav.dashboard">SALES</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Dashboards", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "SalesEntry")">New Sale</a></li>
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Sales")">Sales History</a></li>
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "SalesReturn")">Sales Return</a></li>
                    @*<li class="@Html.IsSelected(action: "Dashboard_4_1")"><a href="@Url.Action("Dashboard_4_1", "Dashboards")">Dashboard v.4</a></li>*@
                    @*<li class="@Html.IsSelected(action: "Dashboard_5")"><a href="@Url.Action("Dashboard_5", "Dashboards")">Dashboard v.5</a></li>*@
                </ul>
            </li> 
            <li class="@Html.IsSelected(controller: "Report")">
                <a href="@Url.Action("Dashboard_1", "Dashboards")"><i class="fa fa-edit"></i> <span class="nav-label" data-i18n="nav.dashboard">REPORTS</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Report", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Report")">Stock</a></li>
                    <li class="@Html.IsSelected(action: "DailySales")"><a href="@Url.Action("DailySales", "Report")">Daily Sales</a></li>
                    <li class="@Html.IsSelected(action: "MonthlySalesByDate")"><a href="@Url.Action("MonthlySalesByDate", "Report")">Monthly Sales</a></li>
                    <li class="@Html.IsSelected(action: "YearlySalesByMonth")"><a href="@Url.Action("YearlySalesByMonth", "Report")">Yearly Sales</a></li>
                    <li class="@Html.IsSelected(action: "Purchase")"><a href="@Url.Action("Purchase", "Report")">Purchase Report</a></li>
                </ul>
            </li> 
            

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Accounts</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "Dashboard_2")"><a href="@Url.Action("Index", "Expense")">Expense</a></li>
                    <li class="@Html.IsSelected(action: "Dashboard_2")"><a href="@Url.Action("ProfitAndLoss", "Report")">Profit And Loss</a></li>                   
                </ul>
            </li> 
            
        </ul>

    </div>
</nav>