<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
           
            <form role="search" class="navbar-form-custom" method="post" action="">
               @* <h2><strong>STORE</strong>Assistante</h2>*@
                @*<div class="form-group">
                    
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>*@
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">@User.Identity.Name</span>
            </li>
            @*<li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <div class="dropdown-messages-box">
                            <a href="#" class="pull-left">
                                <img alt="image" class="img-circle" src="~/Images/a7.jpg">
                            </a>
                            <div class="media-body">
                                <small class="pull-right">46h ago</small>
                                <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="dropdown-messages-box">
                            <a href="#" class="pull-left">
                                <img alt="image" class="img-circle" src="~/Images/a4.jpg">
                            </a>
                            <div class="media-body ">
                                <small class="pull-right text-navy">5h ago</small>
                                <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="dropdown-messages-box">
                            <a href="#" class="pull-left">
                                <img alt="image" class="img-circle" src="~/Images/profile.jpg">
                            </a>
                            <div class="media-body ">
                                <small class="pull-right">23h ago</small>
                                <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a href="#">
                                <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>*@
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell"></i>  <span class="label label-primary"></span>
                </a>
                <ul class="dropdown-menu dropdown-alerts menu">
                    @*<li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>*@
                    <li>
                        <div class="text-center link-block">
                            <a href="@Url.Action("Notifications", "Home")">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            @if (Request.IsAuthenticated)
            {
                <li>
                    <a href="@Url.Action("Logout", "Home")">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            }
      
            @*<li>
                <a class="right-sidebar-toggle">
                    <i class="fa fa-tasks"></i>
                </a>
            </li>*@
        </ul>
    </nav>
</div>

<script>
    var count = 0, count2 = 0, total = 0;
    $(document).ready(function () {

    //    $.get('../../../Home/CheckExpiry', null, function (data) {
    //        //$('.label-warning').html(data);
    //        $('.menu').append('<li><a href="../../../../Home/Notifications"><i class="fa fa-warning text-yellow"></i> ' + data + ' items to expire/expired.</a></li>');

    //        if (data != null)
    //        {
    //            $('.alertNumber').append('<span class="label label-warning notifications">!</span>');
    //        }
    //        else {
    //            $('.alertNumber').append('<span class="label label-warning notifications">0</span>');
    //        }

    //        count = data;
    //    }, 'json');

    //    $.get('../../../Home/StockLevel', null, function (data) {
    //        //$('.label-danger').html(data);
    //        $('.menu').append('<li><a href="../../../../Home/Notifications"><i class="fa fa-warning text-yellow"></i> ' + data + ' items are low in qty.</a></li>');

    //            if (data != null) {
    //                $('.alertNumber').append('<span class="label label-warning notifications">!</span>');
    //            }
    //            else {
    //                $('.alertNumber').append('<span class="label label-warning notifications">0</span>');
    //            }
    //    }, 'json');
        //});


        $.get('@Url.Action("CheckExpiry", "Home")', null, function (data) {
            //$('.label-warning').html(data);
            $('.menu').append('<li><a href="@Url.Action("Notifications", "Home")"><i class="fa fa-warning text-yellow"></i> ' + data + ' items to expire/expired.</a></li>');

            if (data != null) {
                $('.alertNumber').append('<span class="label label-warning notifications">!</span>');
            }
            else {
                $('.alertNumber').append('<span class="label label-warning notifications">0</span>');
            }

            count = data;
        }, 'json');

        $.get('@Url.Action("StockLevel", "Home")', null, function (data) {
            //$('.label-danger').html(data);
            $('.menu').append('<li><a href="@Url.Action("Notifications", "Home")"><i class="fa fa-warning text-yellow"></i> ' + data + ' items are low in qty.</a></li>');

            if (data != null) {
                $('.alertNumber').append('<span class="label label-warning notifications">!</span>');
            }
            else {
                $('.alertNumber').append('<span class="label label-warning notifications">0</span>');
            }
        }, 'json');
    });

   // <li><a href="#"><i class="fa fa-users text-aqua"></i> 5 new members joined today</a></li>
</script>
