@model IEnumerable<DataAccess.Stock>

<table class="table table-striped table-responsive dataTable fc-scroller" id="dt2">
    <thead>
    <tr style="background-color:#337ab7; color:white">
        <th>
            @Html.DisplayNameFor(model => model.Item.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatchNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
    </tr>
        </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatchNo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>

        </tr>
    }

</table>


<script>   
    $('#dt2').DataTable({
        "scrolly": "400px",
        "scrollCollapse": true,
        "paging": false,
        "filter": false,
        "info": false
    });
    
</script>
  